{% extends "base.html" %}

{% block header %}{% endblock header %}

{% block content %}
<script>
  (function() {
    document.addEventListener("DOMContentLoaded", function() {
      window.close();
    });
  }());
</script>
<p> Feche esta janela para continuar...</p>
{% endblock content %}
