{% extends "base.html" %}

{% block title %}Page not found - 404{% endblock %}

{% block content %}
<div>
    <h1>Page not found</h1>

    <p>Sorry! This page does not exist.</p>
</div>
{% endblock content %}
