{% extends "base.html" %}

{% block title %}Server Error - 500{% endblock %}

{% block content %}
<div class="error-content-page">
    <h1 translate>Ooops!!!</h1>

    <h3 translate>Looks like something went wrong!</h3>

    <p class="text-container">
        We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.
    </p>
</div>
{% endblock content %}


